/* 
Font Imports: 
Josefin Sans - Weights: 400, 700
*/

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: var(--background-color);
}

/* Color variables */

:root {
  --background-image: url("./assets/bg-mobile-light.jpg");
  --background-color: hsl(0, 0%, 98%);
  --header-text-color: white;
  --component-background-color: white;
  --checklist-color: hsl(236, 33%, 92%);
  --list-item-border: hsl(233, 11%, 84%);
  --filter-color: hsl(236, 9%, 61%);
  --completed-color: hsl(233, 11%, 84%);
  --main-font-color: hsl(235, 19%, 35%);
  --font-hover: hsl(235, 19%, 35%);
}

[data-theme="dark"] {
  --background-image: url("./assets/bg-mobile-dark.jpg");
  --background-color: hsl(235, 21%, 11%);
  --component-background-color: hsl(235, 24%, 19%);
  --checklist-color: hsl(237, 14%, 26%);
  --list-item-border: hsl(233, 14%, 35%);
  --main-font-color: hsl(234, 39%, 85%);
  --font-hover: hsl(236, 33%, 92%);
  --completed-color: hsl(234, 11%, 52%);
}

/* Header styles */
header {
  margin-top: 2.7rem;
  max-width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-around;
  gap: 5rem;
}

header h1 {
  color: var(--header-text-color);
  letter-spacing: 0.5rem;
  font-weight: 700;
}

.mode-icon {
  cursor: pointer;
  width: 7%;
}

/* Task input form styles */
.input-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.input-container input {
  max-width: 100%;
  width: 83%;
  padding: 1.1rem 0.8rem;
  border-radius: 5px;
  border-style: none;
  outline: none;
  background-color: var(--component-background-color);
  color: var(--main-font-color);
  caret-color: hsl(220, 98%, 61%);
}

/* List styles */

.list-container {
  max-width: 90%;
  margin: 1.3rem auto;
  border-radius: 10px;
  color: var(--main-font-color);
  background-color: var(--component-background-color);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.18);
}

.list-container ul {
  list-style: none;
}

.list-container li {
  padding: 1rem 1.5rem;
  background-color: var(--component-background-color);
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  border-bottom: solid 1px var(--list-item-border);
  font-size: 0.9rem;
  font-weight: 500;
}

.list-container li span {
  cursor: pointer;
}

.checked {
  text-decoration: line-through;
  color: var(--completed-color);
}

.list-container li:first-of-type {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.list-container button {
  width: 5%;
  min-width: 5%;
  margin-left: auto;
  color: var(--main-font-color);
  font-size: 0.5rem;
  cursor: pointer;
  border-style: none;
  background: none;
}

.list-container img {
  width: 100%;
  height: auto;
}

.list-container input[type="checkbox"] {
  min-width: 1.3em;
  min-height: 1.3em;
  appearance: none;
  border: solid 0.5px var(--checklist-color);
  border-radius: 50%;
}

.list-container input[type="checkbox"]:hover {
  border-color: hsl(280, 87%, 65%);
}

.list-container input[type="checkbox"]:checked {
  background-image: url("/icon-check.svg"),
    linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.stats-container {
  padding: 1rem;
  color: var(--filter-color);
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.stats-container span {
  font-size: 0.8rem;
}

.stats-container .clear-button {
  cursor: pointer;
}

.stats-container .clear-button:hover {
  color: var(--font-hover);
}

/* Filter bar styles */

.filter-container {
  margin: 0 auto;
  max-width: 90%;
  padding: 1rem 0rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  border-radius: 10px;
  background-color: var(--component-background-color);
  color: var(--filter-color);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.18);
}

.filter-container span {
  cursor: pointer;
  font-weight: 700;
}

.filter-container span:hover {
  color: var(--font-hover);
}

.active {
  color: hsl(220, 98%, 61%);
}

/* Tablet */

@media screen and (min-width: 768px) {
  :root {
    --background-image: url("./assets/bg-desktop-light.jpg");
  }

  [data-theme="dark"] {
    --background-image: url("./assets/bg-desktop-dark.jpg");
  }

  header h1 {
    font-size: 2.5rem;
  }

  .mode-icon {
    width: 4%;
  }

  .input-container {
    margin-top: 3rem;
  }

  .input-container input {
    max-width: 65%;
    padding: 1rem 1rem;
    font-size: 1.1rem;
  }

  .list-container {
    max-width: 69%;
  }

  .list-container li {
    font-size: 1.1rem;
  }

  .list-container input[type="checkbox"] {
    min-width: 1.5rem;
    min-height: 1.5rem;
  }

  .filter-container {
    max-width: 70%;
  }

  .filter-container span {
    font-size: 1.2rem;
  }

  .stats-container span {
    font-size: 1rem;
  }
}

/* Laptop */

@media screen and (min-width: 1440px) {
  header {
    justify-content: center;
    gap: 25%;
    margin-top: 4rem;
  }

  header h1 {
    font-size: 3.2rem;
  }

  .mode-icon {
    width: 3%;
  }

  .input-container input {
    max-width: 38%;
    padding: 1.2rem;
  }

  .list-container {
    max-width: 41%;
  }

  .filter-container {
    max-width: 41%;
  }
}

/* Desktop */

@media screen and (min-width: 1920px) {
  header {
    gap: 20%;
  }

  .mode-icon {
    width: 2%;
  }

  .input-container input {
    max-width: 30%;
  }

  .list-container {
    max-width: 32%;
  }

  .filter-container {
    max-width: 32%;
  }
}
